<div class="section1">
    <form class="form-horizontal"/>
    <h2>Employee Login</h2>
    <span class="label-email"> Email Address </span> <input class="email-inputbox" type="text" ng-model="email"> <br/>
    <span class="label-password"> Password </span> <input class="password-inputbox" type="text" ng-model="password"><span class="small-print"></span><a href="//www.google.com">Forgot your password?</a></span><div class="line-vertical"></div> <br/>
    <span class="submit-button"> <input type="submit" value="Sign In"> </span> <span class="small-print">Administrators click<a href="//www.google.com">here</a></span><span class="admin-label">to login.</span>
    </form>
    <div class="text-right">Welcome To Bnyu!</br>
        Questions?</br>
        Give us a call: 1.877.283.7600
    </div>
</div>